.background {
    position: absolute;
    top: 0;
    left: 2px;
    background-color:#f7f6f6;
    width: 414px;
    height: 896px;
  }
  .connectionsIcon {
    position: absolute;
    top: 15px;
    right: 14px;
    width: 68px;
    height: 16px;
  }
  .time1 {
    position: absolute;
    width: calc(100% - 2px);
    top: calc(50% - 5.5px);
    left: 0.33px;
    letter-spacing: -0.33px;
    font-weight: 900;
    display: inline-block;
  }
  .statusBar,
  .time {
    position: absolute;
    top: 8px;
    left: 21px;
    width: 56px;
    height: 23px;
  }
  .statusBar {
    height: 4.91%;
    width: 414px;
    top: 0;
    right: 0.48%;
    bottom: 95.09%;
    left: 0;
    opacity: 0.75;
  }
  .appscheck {
    position: absolute;
    top: 44px;
    left: 140px;
    font-size: 25px;
    font-weight: 800;
    font-family: var(--font-nunito-sans);
    text-align: left;
  }
  .background1 {
    top: 95px;
    left: 19px;
    border-radius: var(--br-3xs);
    background-color: rgba(128, 128, 128, 0.11);
    width: 378px;
    height: 712px;
  }
  .background1,
  .boxChild,
  .div1 {
    position: absolute;
  }
  .boxChild {
    top: 0;
    left: 0;
    border-radius: var(--br-2xs);
    background-color: #DEDEDE;
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 346.69px;
    height: 155px;
  }
  .div1 {
    top: 16px;
    left: 74.29px;
    font-size: var(--font-size-base);
    font-family: var(--font-abhaya-libre-medium);
    color: var(--color-dimgray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199.21px;
    height: 27.66px;
  }
  .boxInner,
  .boxItem,
  .vectorIcon {
    position: absolute;
    top: 19.55px;
    left: 320.09px;
    width: 11.01px;
    height: 22.24px;
  }
  .boxInner,
  .vectorIcon {
    left: 16.51px;
  }
  .vectorIcon {
    top: 54.41px;
    left: 39px;
    width: 268px;
    height: 1px;
  }
  .boxChild1,
  .boxChild2,
  .boxChild3,
  .rectangleIcon {
    position: absolute;
    top: 69px;
    left: 40px;
    border-radius: var(--br-3xs);
    width: 59px;
    height: 70px;
  }
  .boxChild1,
  .boxChild2,
  .boxChild3 {
    left: 109px;
  }
  .boxChild2,
  .boxChild3 {
    left: 178px;
  }
  .boxChild3 {
    left: 247px;
  }
  .div2,
  .div3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div2 {
    top: 77px;
    left: 56px;
    width: 28px;
    height: 24px;
  }
  .div3 {
    left: 54px;
  }
  .div3,
  .div4,
  .div5 {
    top: 97px;
    font-size: var(--font-size-xl);
    width: 32px;
    height: 33px;
  }
  .div4 {
    position: absolute;
    left: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div5 {
    left: 192px;
  }
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div6 {
    top: 97px;
    left: 261px;
    font-size: var(--font-size-xl);
    width: 32px;
    height: 33px;
  }
  .div7,
  .div8,
  .div9 {
    top: 77px;
    left: 125px;
    width: 28px;
    height: 24px;
  }
  .div8,
  .div9 {
    left: 194px;
  }
  .div9 {
    left: 263px;
  }
  .box,
  .rectangleDiv {
    top: 0;
    left: 0;
    width: 346.69px;
  }
  .box {
    position: absolute;
    height: 155px;
  }
  .rectangleDiv {
    border-radius: var(--br-2xs);
    background-color: #DEDEDE;
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    height: 516px;
  }
  .apps,
  .icon,
  .rectangleDiv {
    position: absolute;
  }
  .apps {
    top: 13px;
    left: 18px;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
  }
  .icon {
    top: 19px;
    left: 307px;
    width: 18px;
    height: 17px;
    object-fit: cover;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div14,
  .div15 {
    position: absolute;
    top: 175px;
    left: 0;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
  }
  .div11,
  .div12,
  .div13,
  .div14,
  .div15 {
    top: 140px;
  }
  .div12,
  .div13,
  .div14,
  .div15 {
    top: 105px;
  }
  .div13,
  .div14,
  .div15 {
    top: 70px;
  }
  .div14,
  .div15 {
    top: 35px;
  }
  .div15 {
    top: 0;
  }
  .p,
  .pm1 {
    margin: 0;
  }
  .pm1 {
    font-family: var(--font-abhaya-libre-semibold);
    color: var(--color-dimgray);
  }
  .pmTxt {
    line-break: anywhere;
    width: 100%;
  }
  .pm {
    top: 0;
    left: 203px;
    font-size: var(--font-size-xs);
    text-align: right;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    font-family: var(--font-abhaya-libre-medium);
  }
  .pm,
  .pm2,
  .pm4 {
    position: absolute;
    color: var(--color-royalblue);
  }
  .pm2 {
    top: 175px;
    left: 203px;
    font-size: var(--font-size-xs);
    text-align: right;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    font-family: var(--font-abhaya-libre-medium);
  }
  .pm4 {
    top: 35px;
  }
  .div16,
  .div17,
  .pm4 {
    left: 203px;
    font-size: var(--font-size-xs);
    text-align: right;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    font-family: var(--font-abhaya-libre-medium);
  }
  .div16 {
    position: absolute;
    top: 70px;
    color: var(--color-gray-100);
  }
  .div17 {
    top: 105px;
    color: #ff417a;
  }
  .div17,
  .div18,
  .list {
    position: absolute;
  }
  .div18 {
    top: 140px;
    left: 203px;
    font-size: var(--font-size-xs);
    font-family: var(--font-abhaya-libre-medium);
    color: #ffd400;
    text-align: right;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
  }
  .list {
    top: 61px;
    left: 18px;
    width: 308px;
    height: 210px;
    font-size: var(--font-size-sm);
    font-family: var(--font-abhaya-libre-semibold);
  }
  .boxChild4 {
    position: absolute;
    top: 47.5px;
    left: 14.5px;
    width: 322px;
    height: 1px;
  }
  .box1,
  .boxParent {
    position: absolute;
    width: 346.69px;
  }
  .box1 {
    top: 167px;
    left: 0;
    height: 516px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-abhaya-libre-medium);
  }
  .boxParent {
    top: 109px;
    left: 33px;
    height: 683px;
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    font-family: var(--font-abhaya-libre-semibold);
  }
  .image1Icon,
  .image2Icon,
  .image3Icon,
  .image4Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 31.94px;
    height: 31.94px;
    object-fit: cover;
  }
  .image1Icon,
  .image2Icon,
  .image3Icon {
    left: 104.32px;
  }
  .image1Icon,
  .image2Icon {
    left: 208.65px;
  }
  .image1Icon {
    top: 1.06px;
    left: 312.97px;
  }
  .image4Parent {
    position: absolute;
    top: 835px;
    left: 28px;
    width: 344.9px;
    height: 33px;
  }
  .div {
    position: relative;
    background-color: #b3d2f7;
    width: 100%;
    height: 896px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  